.register{
    background-image: url("https://imgs.search.brave.com/Lv6XHkHQqogQl5Gu8QZ_Fv4YfS3Mqlw6-bhC3-fwuXA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzYxLzAxLzg5/LzM2MF9GXzM2MTAx/ODk0NF9Ia2NDWVJz/Z3YxNGJYb2U4TUVZ/eGZRb1pFRzM5cmRy/eS5qcGc");
    background-repeat: no-repeat;
    background-position: right;
    background-size:cover;
}
